<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      حول
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="me" src="/assets/me.jpg" />
  <div class="about">
    <h3>مرتضى العبودي</h3>
  </div>
  <div class="social">
    <a target="_blank" href="https://www.instagram.com/murtada_alaboudi/">
      <img src="/assets/insta.png" />
    </a>
    <a target="_blank" href="https://www.facebook.com/MortadaAlaboudi">
      <img src="/assets/facebook.png" />
    </a>
  </div>

  <div class="copy">
    <p>جميع مصادر التطبيق تابعة لمنظمات وجهات خارجية حول فايروس كورونا covid-19 ومبرمج التطبيق غير مسؤول عن النتائج المدرجة</p>
    <p>حقوق الطبع والنشر مرتضى العبودي &copy; 2020</p>
  </div>
</ion-content>