<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>
      العراق
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>welcome to v1</h1>
  <ion-progress-bar *ngIf="isShowing" type="indeterminate"></ion-progress-bar>
  <div class="fullheight xc">
    <canvas #doughnutCanvas  width="100%" height="100%"></canvas>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button mode="ios" [routerLink]="['/timeline', country]">
      <ion-icon name="analytics"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
