.fullheight {
    height: 100%;
  }
  
  .xc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.fulldata {
  color: #ffffff;
  width: 100%;
  height: 40px;
  background: #212121;
  text-align: center;
}