<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      المصادر
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list lines="full">

  <ion-item target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/">
    <ion-label>
     تقارير كورونا فايروس لمنظمة الصحة العالمية (WHO)
    </ion-label>
  </ion-item>

  <ion-item target="_blank" href="https://www.cdc.gov">
    <ion-label>
      المراكز الأمريكية لمكافحة الأمراض والوقاية منها (CDC)
    </ion-label>
  </ion-item>

  <ion-item target="_blank" href="http://www.nhc.gov.cn/xcs/yqtb/list_gzbd.shtml">
    <ion-label>
      لجنة الصحة الوطنية (NHC) لجمهورية الصين الشعبية
    </ion-label>
  </ion-item>

  <ion-item target="_blank" href="https://www.health.gov.au/health-topics/novel-coronavirus-2019-ncov">
    <ion-label>
      وزارة الصحة في الحكومة الأسترالية
    </ion-label>
  </ion-item>

</ion-list>
</ion-content>